/*
  title: screen css
  author: tension He (@tension)
*/

/* =imports
---------------------------------------------- */

/* ------------------------------------------- */
body {
	font-size: 14px;
	line-height: 1.428571429;
	color: #666F75;
    background: #2A363F;
}
.ui.grid {
	margin: 0;
	padding: 0;
}
a {
	color: RGBA(110, 217, 160, .7);
	font-weight: bold;
}

.pusher {
	padding-top: 20%;
}

.container {
	min-width: 320px;
}
	
.ui.centered.grid .ui.centered.grid .column:last-child {
	border-left: 1px solid #3D4750;
}

.ui.centered.grid h1 {
	text-align: center;
	color: #FFF;
	font-size: 48px;
	line-height: 2.5em;
	font-weight: normal;
	font-family: Raleway;
	text-decoration: none;
}
.ui.grid+.grid {
	text-align: right;
}
.ui.form {
	margin-left: 5%;
}
.ui.form .field {
	margin-bottom: 1.2em;
}
.ui.form .field:nth-of-type(2) {
	margin-bottom: 2em;
}
.ui.form .field>label {
	display: none;
}
.ui.form .field .button {
	color: #FFF;
	background: #6ED9A0;
}

.ui.form input[type=text],
.ui.form input[type=password] {
	display: inline-block;
	vertical-align: top;
	color: #626262;
	background: transparent;
	border: 1px solid #666F75;
	border-radius: 4px;
	box-shadow: none;
	width: 100%;
	box-sizing: border-box;
}
.ui.form input[type=text]:hover,
.ui.form input[type=password]:hover {
	border-color: #6BD39C;
	background: transparent;
}
.ui.form input[type=text]:focus,
.ui.form input[type=password]:focus {
	color: #FFF;
	background: transparent;
	border-color: #6BD39C;
	border-radius: 4px;
	outline: none;
	box-shadow: none;
}
.footer {
	color: #2A363F;
	content: ' ';
	clear: both;
	text-align: center;
}
.footer a {
	color: #2A363F;
}
@media (max-width: 1200px) {
	.ui.centered.grid h1 {
		font-size: 40px;
		line-height: 1.8em;
	}
}
@media (max-width: 1300px) {
	.ui.centered.grid h1 {
		margin: 0;
		line-height: 1.8em;
	}
}
@media (max-width: 930px) {
	.pusher {
	    padding-top: 10%;
	}
	.ui.centered.grid h1 {
		margin: 0 0 10px;
	}

	.ui.centered.grid .ui.centered.grid .column:last-child {
		border-left: 0 none;
	}
	.ui.form {
		margin-left: 0;
	}
	.ui[class*="two column"].grid>.column {
		width: 96%;
	}
	.sixteen.column>.column {
		padding: 1rem;
	}
}